
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


body {
      color: rgba(255, 255, 255, 0.75);
      font-family: 'Anonymous Pro', monospace;
      background-color: rgb(25, 25, 25);
}

.line {
      position: relative;
      top:50px;
      width: 16em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 120%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;transform:
}

/*Animation*/

.anim-typewriter {
      animation: typewriter 4s steps(30) 1s 1 normal both,
      blinkTextCursor 500ms steps(20) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width:13em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}

.follow{
  position: relative;
  top:-570px;
  left:165px;
  font-size: 10px;
  color: #000;
}

.follow a{
  text-decoration: none;
  color: #000;
}

.mobile{
  position: relative;
  top:150px;
  right:40px;
}

.screen{
  position: relative;
  top:-310px;
  left:85px;
  border-radius:22px;
}


.link{
  position: relative;
  top:-715px;
  left:132px;
  font-size:9px;
  color: #fff;
}

.link a{
  text-decoration: none;
  color: #fff;
}

.vis{
  position: relative;
  top: -310px;
  left:48%;
}



::selection{
  color: #fff;
  background: #6665ee;
}
.skill-bars{
  position: relative;
  top: -293px;
  padding: 25px 30px;
  width: 300px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 80%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 45%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "80%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "45%";
}

.naam{
  position: relative;
  top: -525px;
  left: 10%;
  color: #000;
}

.naam1{
  position: relative;
  top: -489px;
  left: 10%;
  color: #000;
}

.naam2{
  position: relative;
  top: -453px;
  left: 10%;
  color: #000;
}

.naam3{
  position: relative;
  top: -418px;
  left: 10%;
  color: #000;
}

#insta{
  position: relative;
  top: -150px;
  left: 47%;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
}

#insta a{

  color: white;

}


#btn {
  background: #222;
  height: 50px;
  min-width: 50px;
  border: none;
  border-radius: 10px;
  color: #eee;
  font-size: 20px;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 50px;
  width:373px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}

#btn a{
  color: white;
}


#hack{

  position: relative;
  top: -35px;
  left:145px;
  font-size: 20px;
}

#hack a{
  color: white;
  text-decoration: none;
}
